@import "tailwindcss";

@theme {
  --color-primary: #a51c24;
  --color-highlight: #f6f6f6;
  --color-text-main: #111827;
  --color-text-muted: #6b7280;
  --color-secondary-bg: #f9fafb;
  --color-dark-bg: #111827;
  --color-border-color: #e5e7eb;
  --color-dark-text: #333;
  --font-sans: 'Inter', 'system-ui', 'sans-serif';
}

@layer base {
  body {
    @apply font-sans antialiased text-dark-text bg-white;
  }
}